.thim-fancy-table {
  border: 1px solid #DDD;
  overflow: hidden; }
  .thim-fancy-table .tft-horizontal-scroll {
    overflow-x: auto;
    height: 16px;
    border-left: 1px solid #DDD;
    margin-top: -2px; }
    .thim-fancy-table .tft-horizontal-scroll > div {
      height: 1px; }

.thim-fancy-table {
  margin-bottom: 20px; }
  .thim-fancy-table table {
    text-align: center;
    table-layout: fixed;
    border: none;
    margin-bottom: 0;
    background: #FFF;
    position: relative;
    opacity: 0; }
    .thim-fancy-table table td, .thim-fancy-table table th {
      width: auto; }
    .thim-fancy-table table thead th {
      white-space: nowrap; }
      .thim-fancy-table table thead th.course-item-user {
        width: 250px;
        vertical-align: bottom;
        background: #FFF;
        position: relative;
        z-index: 10; }
      .thim-fancy-table table thead th.user-grade {
        width: 100px;
        background: #FFF; }
      .thim-fancy-table table thead th.course-item-header {
        white-space: nowrap;
        text-align: left;
        padding: 0;
        font-weight: normal;
        background: #edfaff;
        width: 70px;
        overflow-x: auto;
        font-size: 12px; }
        .thim-fancy-table table thead th.course-item-header div {
          transform: rotate(-90deg) translate(-150px, 3px);
          width: 50px; }
    .thim-fancy-table table tbody td.course-item-user, .thim-fancy-table table tbody th.course-item-user {
      font-weight: normal;
      background: #edfaff; }
    .thim-fancy-table table tbody td.course-item-data, .thim-fancy-table table tbody th.course-item-data {
      text-align: left;
      font-size: 12px; }
      .thim-fancy-table table tbody td.course-item-data.passed, .thim-fancy-table table tbody th.course-item-data.passed {
        color: #00a0d2; }
    .thim-fancy-table table .fixed {
      position: relative;
      z-index: 10;
      background: #FFF; }
  .thim-fancy-table.ready table {
    opacity: 1; }

.gradebook-list {
  margin-bottom: 20px; }
  .gradebook-list td, .gradebook-list th {
    background: #FFF; }
  .gradebook-list thead .fixed-column {
    vertical-align: bottom; }
  .gradebook-list tbody .fixed-column {
    font-weight: normal; }

.gradebook-top-nav {
  margin-bottom: 20px; }

/* progress bar */
.gradebook-export.progress {
  height: 20px; }

.gradebook-export.progress-wrap {
  width: 100%;
  background: #ddd;
  margin: 20px 0;
  position: relative;
  display: none; }
  .gradebook-export.progress-wrap .progress-bar {
    background: #f80;
    width: 0%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center; }
